.table {
  table-layout:fixed;
}
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.normal_pre {
  background-color: transparent;
  border: 0px solid #ccc;

}

.function-output{
  font-family: monospace;
}